<div class="movies">
  <button (click)="openPopup(mockMovie, PopupModes.ADD)" class="button button-primary">add new movie</button>
  <ul class="movies-list">
    <li *ngFor="let movie of movies$ | async">
      <div class="movie-field">
        <span class="movie-field-title">Title:</span>
        <span class="movie-field-value">{{ movie.Title | titlecase | alphaNumPipe }}</span>
      </div>
      <div class="movie-field">
        <span class="movie-field-title">Year:</span>
        <span class="movie-field-value">{{ movie.Year }}</span>
      </div>
      <div class="movie-field">
        <span class="movie-field-title">Runtime:</span>
        <span class="movie-field-value">{{ movie.Runtime }}</span>
      </div>
      <div class="movie-field">
        <span class="movie-field-title">Genre:</span>
        <span class="movie-field-value">{{ movie.Genre | titlecase | alphaNumPipe  }}</span>
      </div>
      <div class="movie-field">
        <span class="movie-field-title">Director:</span>
        <span class="movie-field-value">{{ movie.Director | titlecase | alphaNumPipe  }}</span>
      </div>
      <div class="btns">
        <button (click)="openPopup(movie, PopupModes.EDIT)" class="button button-primary">edit</button>
        <button (click)="openPopup(movie, PopupModes.DELETE)" class="button button-primary">delete</button>
      </div>
    </li>
  </ul>
</div>

<app-popup *ngIf="popup && popup.open"
  [editMovie]="editMovie"
  [popup]="popup"
  [popupTitle]="popupTitle"
  [movies]="movies">
</app-popup>
